.patientCard {
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    column-gap: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    flex-shrink: 0;
}

.patientCard:hover {
    transform: translateY(-2px);
  }
  
.patientCard:focus {
transform: translateY(0px);
}

.patientIcon {
    width: 70px;
    height: 70px;
    background-color: #d8d8d8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 1.8rem;
    color: white;
}

.name {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
}

.infoContainer p {
    text-overflow: ellipsis;
    overflow: hidden;
}

  
  