.header {
  position: sticky;
  top: 0;
  left: 0;
  background: #c6edff;
  background: -moz-linear-gradient(to bottom, #c6edff 0%, #a3c6ff 100%);
  background: -webkit-linear-gradient(to bottom, #c6edff 0%, #a3c6ff 100%);
  background: linear-gradient(to bottom, #c6edff 0%, #a3c6ff 100%);
  min-width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 100, 0.25) 1.95px 0 2.6px;
  padding: 20px 0;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}